.photo {
    display: inline-block;
    justify-content: space-between;
    flex-direction: column;
    margin: 5px;

}

.img-control {
    height: 220px;
    width: auto;
}
.title {
    color: #ffffff;
    background-color: rgba(63, 62, 62, 0.205);
    padding: 10px;
}

